<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".main_game.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WalkiePaws"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".main_game.TasksActivity"
            android:exported="false" />
        <activity
            android:name=".main_game.CustomizationActivity"
            android:exported="false" />
        <activity
            android:name=".main_game.ShopActivity"
            android:exported="false" />
        <activity
            android:name=".main_game.StatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".main_game.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".main_game.MainGameScreen"
            android:exported="false" />
        <activity
            android:name=".main_game.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".main_game.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".games.CheetahJumping" android:exported="true" android:label="@string/app_name" android:theme="@style/Theme.CheetahJumpGame">
        </activity>
        <activity android:name=".games.DoodleJumpStarter" android:exported="true" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".games.FruitTakerActivity" android:exported="true">
        </activity>
        <activity android:name=".games.CheetahRunnerStarter" android:exported="true">
        </activity>
        <service
            android:name=".main_game.StepService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="health"/>
    </application>

</manifest>